.bottom-section {
    width: 92%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 100px;
    position: relative;

}

.bottom-section>div {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.bottom-section>div>li {
    padding: 4px 10px;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

.bottom-section>div>li[value="asia"] {
    color: black;
}

/* bottom css */

.contenent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 92%;
    margin: auto;
    gap: 22px;
    color: rgb(92, 92, 92);
    position: absolute;
    top: 123px;
    overflow: hidden;
    margin-bottom: 34px;

}

.contenent>div:hover {
    cursor: pointer;
}

.contenent>div>h4:hover,
.contenent>div>p:hover {
    color: black;
}

#europe {
    width: 0px;
}

#north-america {
    width: 0px;
}


/* hr highlight of bottom section */

hr {
    /* background-color: gray; */
}

#asia1,
#europe1,
#north-america1 {
    position: relative;
    cursor: pointer;
    margin-right: 28px;
}

.selector {
    width: 35px;
    border-top: 2px solid rgb(0, 92, 198);
    background-color: rgb(0, 92, 198);
    position: absolute;
    left: 0;
}



@media all and (min-width:550px) and (max-width: 1001px) {
    .contenent {
        grid-template-columns: repeat(3, 1fr);
    }

    .bottom-section>div {
        width: 68%;
    }
}

@media all and (max-width: 549px) {
    .contenent {
        grid-template-columns: repeat(2, 1fr);
    }



    .bottom-section>div {
        width: 100%;
    }

    #asia1,
    #europe1,
    #north-america1 {
        margin-right: 10px;
    }

    .contenent {
        top: 200px;
    }
}