.bottom {
    width: 92%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 100px;
    position: relative;
}

.bottom>ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.bottom>ul>li {
    padding: 4px 10px;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

.bottom>ul>li:hover {
    color: black;
}

/* bottom css */

.contenent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 92%;
    margin: auto;
    gap: 22px;
    color: rgb(92, 92, 92);
    position: absolute;
    top: 123px;
    overflow: hidden;

}

.contenent>div:hover {
    cursor: pointer;
}

.contenent>div>h4:hover,
.contenent>div>p:hover {
    color: black;
}

#europe {
    width: 0px;
}

#north-america {
    width: 0px;
}