.destination {
    width: 92%;
    margin: auto;
    margin-top: 45px;
}



.dest-elem {
    display: grid;
    margin-top: 22px;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
}

.dest-elem>div {
    width: 250px;
    height: 160px;
    position: relative;

}

.dest-elem>div>img {
    width: 100%;
    height: 100%;
}


/* ============================== */
.second-main {
    width: 92%;
    margin: auto;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.second-one {
    width: 35%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second-one>div:nth-child(1) {
    width: 80%;
    margin: auto;
    margin-top: 34px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
    margin-top: 23px;
    padding: 23px;
}

.cards img {
    width: 50px
}

.cards>div {
    margin-top: 23px;
}

.cards>div>p {
    margin-top: 10px;
}

.second-second {
    width: 63%;
}

.second-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
}

.second-cards>div {
    width: 200px;
    height: 150px;
    position: relative;

}

.second-cards>div>img {
    width: 100%;
    height: 100%;
}

.second-content {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(45, 45, 45, 0.7);
    color: white;
}

.second-content>div {
    width: 80%;
}


/* this is for two cards */

.two-cards {
    width: 92%;
    margin: auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.one-card {
    padding: 42px 32px;
    text-align: center;
    width: 44%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.one-card>div {
    display: flex;
    justify-content: space-around;
}

.one-card>div>div>img {
    width: 30%;
    margin: 59px 0 19px 0;
}

.one-card>button {
    margin-top: 43px;
    padding: 10px 29px;
    font-size: 16px;
    background-color: #1e87f0;
    color: white;
    border: none;
}