* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, helvetica, sans-serif;
}

.nav {
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 15px 25px;
    /* margin-top: 8px; */
    /* border: 1px solid red; */
}

.nav>div {
    display: flex;
    align-items: center;
}

.nav>div img {
    height: 100%;
}

.nav>div>div {
    margin-left: 9px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-size: 15px;
}

#arrow {
    font-size: 8px;
    margin-left: 6px;
}

#host {
    background-color: rgb(205, 32, 32);
    color: white;
}

.content {
    width: 85%;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.margin {
    margin-top: 34px;
    margin-bottom: 72px;
    line-height: 20px;
}

#cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    /* border: 1px solid blue; */

}

.card {
    width: 24%;
    /* border: 1px solid pink; */
    height: 230px;
    padding-top: 23px;
    margin-bottom: 33px;
}


.card img {
    height: 60px;
    margin: auto;
    margin-bottom: 22px;
}

.card p {
    font-size: 14px;
    color: gray;
    margin-top: 12px;
}

.invest {
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    /* border: 1px solid red; */
}

.invest-card {
    margin-top: 34px;
}

.invest-cards {
    display: flex;
    justify-content: space-between;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 54px;
}

.invest-cards img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.invest-content {
    margin: 13px;
    margin: 35px 30px;
    line-height: 30px;
}

.invest-content p {
    font-weight: 600;
    color: #b8b8b8;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 20px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blur {

    text-shadow: 0 8px 16px #000;
    color: transparent;
}

.invest-content hr {
    margin-top: 23px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(220, 220, 220);
}

.heading>button {
    background-color: #f0ad4e;
    border: none;
    padding: 10px 46px;
    font-size: 18px;
    transition: .2s;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.heading>button:hover {
    background-color: #eea236;
    border-radius: 8px;
}

.content-moreinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 23px;
}

.twocards {
    display: flex;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    width: 85%;
    /* border: 1px solid rgb(64, 50, 50); */
    justify-content: space-between;
}

.onecard {
    width: 43%;
    padding: 34px;
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.onecard>div {
    height: 40px;
    margin: auto;
    margin-bottom: 23px;
}

.onecard img {
    height: 100%;
}

.onecard h1 {
    font-weight: 600;
    color: #424242;
    font-size: 32px;
    line-height: 1.2em;
    margin-bottom: 23px;
}

.onecard p {
    color: #424242;
    font-size: 15px;
    line-height: 24px;
}

#outterfooter {
    background: #262626;
    padding: 0 30px;
    padding-top: 60px;
    font-size: 11px;
    line-height: 1.4em;
    color: #e6e6e6;
}

#outterfooter h1 {
    line-height: 1.4em;
}

.footer {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.one {
    justify-content: space-around;
    width: 20%;
    height: 300px;
}

#social {
    display: flex;
    margin-top: 24px;
}

#social>div {
    width: 30px;
    height: 30px;
    background-color: #2ba89f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    cursor: pointer;
}

#social>div>svg {
    height: 15px;
    fill: white;
}

.two {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 23%;
}

.two>form {
    margin-top: 23px;
}

.two input {
    background-color: black;
    border: none;
    padding: 7px;
    color: white;
    font-size: 19px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.two input:focus {
    outline: 1px solid #2ba89f;
}

.two p {
    color: #818181;
    font-size: 10px;
}

.two button {
    color: white;
    background-color: #2ba89f;
    padding: 9px;
    display: block;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    margin-top: 6px;
}

.three {
    width: 13%;
    line-height: 2.2em;
}

.four {
    width: 25%;
}

.four img {
    height: 49px;
}

#email {
    color: #2ba89f;
    margin-top: 12px;
    margin-bottom: 12px;
}

hr {
    opacity: .2;
}

@media all and (min-width:575px) and (max-width:1001px) {

    .nav {
        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        margin: auto;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;

    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}


@media all and (max-width:574px) {

    .nav {

        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        flex-direction: column;
        margin: auto;
    }

    .nav>div>div {
        margin-bottom: 6px;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        height: auto;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;
    }

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading>button {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .content-moreinfo {
        flex-direction: column;
    }

    .content-moreinfo>div {
        margin-bottom: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}