* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #262626;
    position: relative;
    z-index: 9;
}

#logo>img {
    width: 170px;
    /* border: 4px solid white; */
    margin: 23px;
    margin-left: 53px;
}

.nav>div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.nav>div:nth-child(2)>div {
    margin: 16px;
}

#currency {
    margin: 0;
}

#inr {
    color: white;
    font-size: 20px;
}

#inr:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.nav>div:nth-child(2)>span {
    color: white;
}

#toggle {
    cursor: pointer;
}



/* CURTAIN CSS */
.curtain {
    position: fixed;
    width: 0;
    background-color: gray;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    background-color: #262626;
    overflow: hidden;
    transition: .4s;
}

.cross {
    display: flex;
    margin: 23px;
    justify-content: flex-end;
    width: 263px;
    color: white;
    cursor: pointer;
}

#content {
    width: 223px;
    margin: auto;
    text-align: center;
    padding: auto;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

#content>a,
#content>p {
    text-decoration: none;
    color: white;
    line-height: 23px;
}

#content>a {
    color: gray;
}

#content>a:hover {
    color: white;
}

/* currency selector */

#currency-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 00%;
    gap: 13px;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    right: 0px;
    top: 62px;
    padding: 22px 0;
    overflow: hidden;
    z-index: 10;
}

#currency-elements p {
    text-decoration: none;
    color: #1e87f0;
    cursor: pointer;

}

#currency-elements p:hover {
    text-decoration: underline;
}

/* login form */

#login-form {
    background-color: rgb(255, 255, 255);
    color: rgb(127, 127, 127);
    width: 0;
    padding: 0px;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    top: 62px;
    right: 153px;

}

#login:hover {
    cursor: pointer;
}

#login-form>p {
    margin: 13px;
}

#login-form>p:hover {
    cursor: pointer;
    color: black;
}



@media all and (min-width:575px) and (max-width:1001px) {

    #nav-sticky {
        height: 100px;
        z-index: 9;
    }

    #currency-elements {
        right: 36px;
    }

    #login-icon {
        top: 53px;
        width: 241px;
        position: absolute;
        right: -21px;
    }
}


@media all and (max-width:574px) {
    .nav {
        flex-direction: column;
        /* align-content: space-around; */
        height: 135px;
        z-index: 9;
    }

    #logo>img {
        display: block;
        margin: auto;
    }

    .nav>div:nth-child(2) {
        justify-content: space-around;
        margin-bottom: 28px;
    }



    #login-form {
        top: 120px;
        left: 19px;
    }

    #login-icon {
        top: 90px;
        /* width: auto; */
        position: absolute;
        /* left: 0px; */
    }

    #currency-elements {
        width: 240px;
        right: 17px;
        top: 102px;
    }

}