.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.search>div:nth-child(2) {
    position: absolute;
    width: 100%;
    background-color: rgba(45, 45, 45, 0.7);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-content {
    width: 1000px;
    font-size: 21px;
}

.search-content>h2 {
    font-weight: bold;
}

#alert-msg>p {
    display: flex;
    align-items: center;
    color: black;
    width: 95%;
    margin: auto;
    height: 43px;
    background-color: rgb(253, 213, 213);
    color: red;
    margin-bottom: 12px;
    padding-left: 23px;
    font-size: 16px;
}

#alert-location {
    height: auto;
    background-color: white;
    margin-top: 23px;
    border: 2px solid black;
}

.search-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    padding: 3px 15px;
    background-color: white;

}

.align {
    display: flex;
    align-items: center;
    border: 1px solid rgb(205, 205, 205);
    margin: auto;
    width: 100%;
    height: 35px;

}

.align>img {
    height: 35px;
}

.search-box input,
.search-box select {
    border: none;
    font-size: 18px;
    font-size: 16px;
}

.search-box input:focus {
    outline: none;
}

.search-box input,
.search-box select,
.search-box button {
    height: 35px;
}

#location {
    width: 250px;
}

#buttons {
    display: block;
    margin: auto;
    background-color: #1e87f0;
    color: white;
    cursor: pointer;
}


@media all and (max-width: 1001px) {



    .search-content {
        width: 95%;
        padding-bottom: 23px;
    }

    .search-box {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 0px;
    }

    .align {
        width: 100%;
        margin: unset;
    }

    #buttons {
        margin: unset;
        /* width: 100%; */
    }
}