.signin {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 20;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: .4s;
    color: white;
}

.signin>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 200px;
    padding: 22px;
    margin-top: 100px;
    font-size: 23px;
    background-color: #333;
}

#login-icon {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}


input[type="email"] {
    font-size: 19px;
    padding: 6px;
}

input[type="email"]:focus {

    outline: #2ba89f;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 5px 8px;
    border-radius: 3px;
    border: none;
    background-color: #2ba89f;
    color: white;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
}

.signin a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-align: right;
}

.signin a:hover {
    text-decoration: underline;
}